
body {
    margin: 0;
}

.header-items {

    color: white !important;
}

.header-box {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #503E9C !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 3px 7px -1px rgba(162, 162, 162, 0.25);
    padding: 14px;
    flex-wrap: wrap;
    z-index: 100;
}

.site-logo {
    width: 200px;
    height: 50px;
}

.button {
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    background-color: #FC5E01;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.header-right {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    
}
.header-left{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
}
.header-middle {
    flex: 9;
    display: flex;
    justify-content: flex-start;
    gap: 31px;
    font-size: 26px;
   
    padding-left: 24px;
}
.header-items{
    cursor: pointer;
    font-size: 26px !important;
    margin-left: 2rem;
    padding-top: 5px;

}
.header-items:hover {
    color:#FC5E01 !important;
}


@media only screen and (max-width: 600px) {

    .header-left{ 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .header-box{
        align-items: baseline;
    }
    .button{
        font-size: 12px;
    }
    .header-items{
        font-size: 20px;
    }
}

.contact-us{
    margin-left: 1.5rem;
}

.bg-dark{
    background-color: none !important;
}