
body {
    margin: 0;
}

.header-items {
    color: white;
}

.header-box {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #291E30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 3px 7px -1px rgba(162, 162, 162, 0.25);
    border-right: solid 1px #e9ebf3;
    padding: 14px;
}

.site-logo {
    width: 200px;
    height: 50px;
}

.button {
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    background-color: #FC5E01;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.header-right {
    flex: 1.2;
    
}
.header-left{
    flex: 1;
}
.header-middle {
    flex: 9;
    display: flex;
    justify-content: flex-start;
    gap: 31px;
    font-size: 26px;
    padding-bottom: 12px;
    padding-left: 24px;
}
.header-items{
    cursor: pointer;
}
.header-items:hover {
    color:#FC5E01 ;
}