.class-list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
}

.card {
    border-radius: 12px;
    border: 2px solid rgb(255, 174, 0);
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
}

.card-heading {
    font-size: 24px;
    font-weight: 600;
}

.card-body {
    padding-top: 12px;
}
