.aboutContainer h1,
.aboutContainer h2,
.aboutContainer h3,
.aboutContainer h4,
.aboutContainer h5,
.aboutContainer h6 {
    color: #2c3145;
}

.aboutContainer a,
.aboutContainer a:hover,
.aboutContainer a:focus,
.aboutContainer a:active {
    text-decoration: none;
    outline: none;
}

.aboutContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
}

.section-title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.section-subtitle {
    letter-spacing: 0.4px;
    line-height: 28px;
    max-width: 550px;
}

.section-title-border {
    background-color: #000;
    height: 1 3px;
    width: 44px;
}

.section-title-border-white {
    background-color: #fff;
    height: 2px;
    width: 100px;
}

.text_custom {
    color: #FC5E01;
}

.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #FC5E01;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
    
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 28px;
}
.section-services .header-section .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #ff4500;
    border-radius: 3px;
}
 .header-section .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #ff4500;
    border-radius: 3px;
}
 .header-section .title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(30px);
    width: 10px;
    height: 3px;
    background-color: #504f93;
    border-radius: 3px;
}
.header-section .title {
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
}